Nobs : 10
y : [9, 8, 6, 2, 2, 3, 5, 1, 4, 7]
SubjIdx : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Nsubj : 10
@limits <lower=0>
omega = gamma(2.0,3.0)
@limits <lower=0,upper=1>
kappa = beta(7.0,3.0)
@limits <lower=0,upper=1>
theta = beta(A,B)
for(obs in 1:Nobs)
{
    y[obs]= binomial(10,theta[SubjIdx[obs]])
}
posterior(omega)
posterior(kappa)
posterior(theta)
