@limits <lower=0>
int J : 8
float y[J] : [28.0, 8.0, -3.0, 7.0, -1.0, 1.0, 18.0, 12.0]
@limits <lower=0>
float sigma[J] : [15.0, 10.0, 16.0, 11.0, 9.0, 11.0, 10.0, 18.0]

@prior
float mu
@prior
float theta[J]
@prior
@limits <lower=0>
float tau

mu = normal(1.0,10)
tau = normal(1.0,10)
theta = normal(mu,tau)
y=normal(theta,sigma)
posterior(mu)
posterior(theta)
posterior(tau)
