@limits <lower=1>
int Nobs : 10

@limits <lower=0>
int y[Nobs] : [9,8,6,2,2,3,5,1,4,7]



@prior
@limits <lower=0,upper=1>
float kappa


kappa = beta(7.0,3.0)

for(obs in 1:Nobs)
{
    @observe
    y[obs] = poisson(20*kappa)
}

posterior(kappa)
