@limits <lower=1>
int Nobs : 10

@limits <lower=0>
float y[Nobs] : [9.0, 8.0, 6.0, 2.0, 2.0, 3.0, 5.0, 1.0, 4.0, 7.0]


@prior
@limits <lower=0,upper=1>
float kappa


kappa = beta(7.0,3.0)

for(obs in 1:Nobs)
{
    y[obs]= poisson(20*kappa)
}

posterior(kappa)
